$inputHeight: 38px;

.sdc-filter-bar {
  .search-bar-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .sdc-input-wrapper {
      flex-grow: 1;
      .sdc-input {
        margin: 0;
        width: 100%;
        .sdc-input__input {
          padding-right: 40px;
        }
      }

      .filter-button {
        position: absolute;
        height: 17px;
        right: 30px;
        //svg {
        //  position: relative;
        //  top: 120%;
        //  transform: translateY(-50%);
        //  path {
        //    fill: $dark-gray;
        //  }
        //}
      }

      .magnify-button {
        svg {
          height: 20px;
          width: 20px;
        }
      }

      .clear-search-x {
        cursor: pointer;
        position: absolute;
        height: 0px;
        right: 12px;
        svg {
          height: 14px;
          width: 14px;
          &:hover {
            path {
              fill: $blue;
            }
          }
        }
      }
    }
  }
}


